.home-container{
  margin-top: 75px;
  display: flex;
  justify-content: center; 
  align-items: center;
  min-height: 270px;

  border: 2px solid black;
  border-radius: 6px ;
  flex-wrap: wrap;
  gap: 25px;  
  
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px 0px 15px;
  
  /*
  box-shadow: 0px 0px 35px  #bfd7ed;
  
  */
  background-color: white;
}

.photo-me-container{
  display: flex;
  align-items: center;
}

.photo-me{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;

}

.intro-container{
  display: flex;
  flex-direction: column;

}


.title{
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 20px;
}
.description{
  margin-bottom: 5px;
}

.title-socials{  
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px; 
}
.socials-container{
  display: flex;
}

.icon-socials{
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
}


