body{
  font-family: Mulish;
  margin: 0px;
  padding: 0px;
  height: 2000px;
  

  /* Two linear gradients, one for horizontal lines, one for vertical */
  background-image:
    linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(to right, #ccc 1px, transparent 1px);

  /* Set the grid cell size. 20px wide and 20px tall. */
  background-size: 40px 40px;

}
* {
  margin: 0;
  padding: 0;
}

button {
  transition: color .5s,
    font-weight .5s,
    transform 0.3s
  ;
  cursor: pointer;
}


button:hover{
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}