.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
  height: 70px;

  padding: 0px 30px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  /* background-color: #bfd7ed; */
  
}

.header-item{
  border: 1px solid black;
  font-size: 20px;  
  background-color: white;
  color: black;
  
  transition: color .5s,
    font-weight .5s,
    transform 0.3s
  ;
  /*
  color: rgb(84, 84, 84);
  */
  padding: 6px 10px;
  border-radius: 3px;

  cursor: pointer;
}

.header-item:hover{
  background-color: #d4bfbf;
}

.header-item:active {
  background-color: #bbb;
}

.right-section {
  display: flex;
  flex-direction: row;
  
  border-color: 1px solid white;
}

.right-section .header-item{
  margin-left: 20px;
}