.header{
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  height: 70px;
  margin-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-item{
  border: 1px solid black;
  margin-right: 25px;
  font-size: 20px;
  transition: color .15s,
    font-weight .15s 
  ;
  color: rgb(84, 84, 84);
}

.header-item:hover{
  color: black;
  font-weight: 600;
}