.home-container{
  display: flex;
  justify-content: center; 
  height: 300px;
  width: 100%;
  border: 1px solid black;
  padding-left: 40px;
  padding-right: 40px;

}

.photo-me-container{
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-right: 80px;
}

.photo-me{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;

}

.intro-contanier{
  display: flex;
  flex-direction: column;
  padding-left: px;
}


.title{
  font-weight: 500;
  font-size: 60px;
  border: 1px solid black;
  margin-bottom: 20px;
}
.description{
  border: 1px solid black;
  margin-bottom: 5px;
}

.title-socials{  
  border: 1px solid black;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px; 
}
.socials-container{
  display: flex;
  border: 1px solid black;
}

.icon-socials{
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
}



