.home-container{
  margin-top: 70px;
  display: flex;
  justify-content: center; 
  align-items: center;
  min-height: 270px;
  width: 100%;
  border: 1px solid black;
  flex-wrap: wrap;
  gap: 30px;  
}

.photo-me-container{
  display: flex;
  align-items: center;
  border: 1px solid black;

}

.photo-me{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;

}

.intro-container{
  display: flex;
  flex-direction: column;

}


.title{
  font-weight: 500;
  font-size: 60px;
  border: 1px solid black;
  margin-bottom: 20px;
}
.description{
  border: 1px solid black;
  margin-bottom: 5px;
}

.title-socials{  
  border: 1px solid black;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px; 
}
.socials-container{
  display: flex;
  border: 1px solid black;
}

.icon-socials{
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
}



